<div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="#">View All</li>
        <li><a href="/journal_entries/new">Create Entry</a></li>
        <li><a href="/logout">Log Out</a></li>

    </ul>
</div>

<h2>Reading Journal Entries</h2>
    <% @journal_entries.each do |journal_entry| %>
        <p><%= journal_entry.created_at %></p>
        <h3><a href="/journal_entries/<%= journal_entry.id %>"><%= journal_entry.book_title %></a></h3>
        <p><%= journal_entry.content %></p>
        <p>By <%= journal_entry.id %></p>
        <br />
        <hr />
        <br />
    <% end %>
